<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Online_Hotel_Reservation_System</display-name>
  
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<servlet-class>com.user.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/log</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
  	<servlet-name>userInsert</servlet-name>
  	<servlet-class>com.user.userInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>userInsert</servlet-name>
  	<url-pattern>/insert</url-pattern>
  </servlet-mapping>
  
  
  
<servlet>
  <servlet-name>userLogout</servlet-name>
  <servlet-class>com.user.LogoutServlet</servlet-class>
</servlet>

<servlet-mapping>
  <servlet-name>userLogout</servlet-name>
  <url-pattern>/logout</url-pattern>
</servlet-mapping>



<servlet>
	<servlet-name>userUpdate</servlet-name>
	<servlet-class>com.user.UpdateUserServlet</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>userUpdate</servlet-name>
	<url-pattern>/updateUser</url-pattern>
</servlet-mapping>




<servlet>
	<servlet-name>changePassword</servlet-name>
	<servlet-class>com.user.changePasswordServlet</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>changePassword</servlet-name>
	<url-pattern>/passwordChange</url-pattern>
</servlet-mapping>




<servlet>
	<servlet-name>manageUsers</servlet-name>
	<servlet-class>com.staff.userManageServlet</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>manageUsers</servlet-name>
	<url-pattern>/getUsers</url-pattern>
</servlet-mapping>




<servlet>
	<servlet-name>adminDash</servlet-name>
	<servlet-class>com.staff.adminDashboardServlet</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>adminDash</servlet-name>
	<url-pattern>/adminDashboard</url-pattern>
</servlet-mapping>




<servlet>
	<servlet-name>manageStaff</servlet-name>
	<servlet-class>com.staff.staffManageServlet</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>manageStaff</servlet-name>
	<url-pattern>/getStaff</url-pattern>
</servlet-mapping>



<servlet>
	<servlet-name>getSingleUser</servlet-name>
	<servlet-class>com.staff.getSingleUserServlet</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>getSingleUser</servlet-name>
	<url-pattern>/singleUser</url-pattern>
</servlet-mapping>



<servlet>
	<servlet-name>editUser</servlet-name>
	<servlet-class>com.staff.editUserServlet</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>editUser</servlet-name>
	<url-pattern>/userEdit</url-pattern>
</servlet-mapping>
  
  
  

  

<servlet>
        <servlet-name>insertRoom</servlet-name>
        <servlet-class>com.Room.roominsertServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>insertRoom</servlet-name>
        <url-pattern>/roomInsert</url-pattern>
    </servlet-mapping>


</web-app>